window {
    margin: 0px;
    background-color: rgba(36, 36, 36, 0.6);
    border-radius: 6px;
    border: 2px solid #8e7ab5;
}

#input {
    margin: 5px;
    border: 2px solid #8e7ab5;
    color: #dddddd;
    background-color: #595959;
    border-radius: 6px;
    box-shadow: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #dddddd;
} 

#entry:selected {
    background-color: #595959;
    border-radius: 6px;
    outline: none;
}

#entry:selected * {
    background-color: #595959;
    border-radius: 6px;
    outline: none;
}