window {
    margin: 0px;
    background-color: #242424;
    border-radius: 10px;
    border: 1px solid #8e7ab5;
}

#input {
    margin: 5px;
    border: none;
    color: #dddddd;
    background-color: #333333;
    border-radius: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #dddddd;
} 

#entry:selected {
    background-color: #333333;
    border-radius: 8px;
    outline: none;
}

#entry:selected * {
    background-color: #333333;
    border-radius: 8px;
    outline: none;
}