* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  /* background-color: #1b1e20; */
  background: linear-gradient(to bottom, rgba(27,30,32,1) 90%, rgba(23,23,23,1) 100%);
  color: #dfdfdf;
}

#cpu,
#battery,
#memory,
#disk,
#network,
#pulseaudio,
#custom-spotify,
#custom-power,
#custom-clock {
  margin: 3px 5px;
  padding: 3px 0;
  font-weight: bold;
  border-radius: 1px;
}

#custom-power.charging {
  color: #9ece6a;
}

#custom-power:not(.charging) {
  color: #f7768e;
}

#battery {
  margin-right: 10px;
}

#custom-virt-desktop-1,
#custom-virt-desktop-2,
#custom-virt-desktop-3 {
  margin: 3px 0px 3px 0px;
  padding: 3px;
  font-weight: bold;
  background-color: #31363b;
  border-radius: 1px;
}

#custom-virt-desktop-1 {
  margin-left: 10px;
}

#custom-virt-desktop-3 {
  margin-right: 5px;
}

#custom-virt-desktop-1.active,
#custom-virt-desktop-2.active,
#custom-virt-desktop-3.active {
  background-color: #dfdfdf;
  color: #1b1e20;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  color: #f7768e;
}

#pulseaudio.muted {
  color: #31363b;
}
