/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #11111b;
    background-alt: #313244;
    foreground:     #cdd6f4;
    selected:       #cdd6f4;
    active:         #9399b2;
    urgent:         #ff5555;
}
