/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181926ff;
    background-alt: #24273Aff;
    foreground:     #D9E0EEff;
    selected:       #24273Aff;
    active:         #ABE9B3ff;
    urgent:         #F28FADff;
}
