/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2Fff;
    background-alt: #89DCEBff;
    foreground:     #D9E0EEff;
    selected:       #1E1E2Eff;
    active:         #ABE9B3ff;
    urgent:         #F28FADff;
}
