* {
    all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
    background-color: #181926;
    color: #cad3f5;
    padding: 5px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
    all: unset;
    color: #cad3f5;
}

.sidestuff button {
    all: unset;
    color: #cad3f5;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 6px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.workspaces button {
    color: #1c1d2c;
}

.workspaces button:hover {
    color: #181926;
}

.workspaces .activeworkspace {
    color: #cad3f5;
}