* {
    all: unset; // Unsets everything so you can style everything from scratch
}

// ------------------------------------------------ //
// ------------------- Bar Styles ----------------- //
// ------------------------------------------------ //

.bar {
    background-color: #181926;
    color: #cad3f5;
    padding: 5px;
}

.right {
    background-color: #24273a;
    border-radius: 6px;
    color: #cad3f5;
    padding: 3px 8px 3px 6px;
}

.right slider {
    all: unset;
    color: #cad3f5;
}

.right button {
    all: unset;
    color: #cad3f5;
    margin-right: 10px;
}

.right .mutedmic {
    color: #181926;
}

.right .unmutedmic {
    padding-right: 3px;
    padding-left: 4px;
}

.right .volume0 {
    color: #181926;
    padding-right: 2px;
}

.right .volume25 {
    padding-right: 9px;
    padding-left: 2px;
}

.right .volume50 {
    padding-right: 5px;
    padding-left: 2px;
}

.right .volume75 {
    padding-right: 3px;
    padding-left: 1px;
}

.right .volume100 {
    padding-left: 2px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 8px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.workspaces {
    background-color: #24273a;
    border-radius: 6px;
    color: #cad3f5;
    padding: 3px 8px;
    margin-right: 10px;
}

.workspaces button {
    color: #1c1d2c;
}

.workspaces button:hover {
    color: #181926;
}

.workspaces button.activeworkspace,
.workspaces button.activeworkspace:hover {
    color: #cad3f5;
}

.time {
    background-color: #24273a;
    border-radius: 6px;
    color: #cad3f5;
    padding: 3px 8px;
}

// ------------------------------------------------ //
// ----------------- Music Player ----------------- //
// ------------------------------------------------ //

.music_window {
	background-color: #181926;
	border-radius: 6px;
    padding: 20px;
}

.album_art {
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
	margin-right: 20px;
	border-radius: 4px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Iosevka Nerd Font;
}

.artist,
.btn_prev,
.btn_next,
.btn_play {
	color: #cad3f5;
	font-size : 16px;
	font-weight : normal;
}

.btn_play,
.song {
	color: #cad3f5;
	font-size : 24px;
	font-weight : normal;
}

.artist {
	margin-bottom: 10px;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: #cad3f5;
	border-radius: 8px;
}

.music_bar scale trough {
	all: unset;
	background-color: #24273a;
	border-radius: 8px;
	min-height: 12px;
	min-width: 200px;
	margin-top: 10px;
}
